<div class="container" *ngIf="submitted; else codeForm">
    <div class="activate-message" *ngIf="isOkay; else activationError">
        <h2>Activation successful!</h2>
        <p>Your account has been successfully activated.</p>
        <button class="btn btn-success" (click)="redirectToLogin()">Go toLogin</button>
    </div>
    <ng-template #activationError>
        <div class="activate-error">
            <h2>Activation failed!</h2>
            <p>{{message}}</p>
            <button class="btn btn-secondary" (click)="submitted = false">Try again</button>
        </div>
    </ng-template>
</div>

<ng-template #codeForm>
    <div class="container-fluid login-container">
        <div class="text-center" style="width: 400px;">
            <h2>Type your activation code</h2>
            <input [(ngModel)]="activation_code"
                    type="text"
                    class="form-control"
                    name="activation_code"
                    id="activation_code">
        </div>
        <hr>
        <div class="d-flex justify-content-end mb-3">
            <button (click)="onCodeCompleted()" type="button" class="btn btn-primary">
                <em>Activate</em>
            </button>
        </div>
    </div>
</ng-template>